.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(219, 212, 212);
}
.heading {
  color: #000;
  font-size: 90px;
  background-color: pink;
  margin: 0;
  padding: 10px 20px 10px 20px;
  font-family: "McLaren", cursive;
}

.cards {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  background-color: #fff;
  width: 300px;
  padding: 10px 10px;
  margin: 20px 20px;
}
